@charset "UTF-8";

h1 {
	margin-top: 2rem;
	margin-left: 5rem;
}

body {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
}

.logo-container {
  text-align: center;
  margin-top: 1rem; /* Ajusta el valor según tus preferencias */
}

.logo-container img {
  max-width: 200px;
}


.table th,
.table td {
  color: white;
}

/* Estilos para el navbar */
.navbar.bg-black {
	background-color: #000000;
}

.navbar-nav .nav-link {
	font-size: 20px;
}
.navbar-brand img {
    max-width: 200px;
    width: 100%;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
	/* Estilos para el footer */
/* Estilos para el pie de página */
footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

/* Estilos para el encabezado */
h5 {
    letter-spacing: 2px;
}

/* Estilos para la imagen */
.img-location-container {
    max-height: 200px;
}

/* Estilos para los enlaces de redes sociales */
.social-link {
    color: #fff;
}

/* Estilos para la tabla de horarios */
.table-responsive {
    color: #ccc;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

/* Estilos para el texto de derechos de autor */
.text-center {
    background-color: rgba(0, 0, 0, 0.2);
}


/* Estilos para la galería de la página de inicio */
.gallery a img {
	max-width: 190px;
	height: auto;
}

.gallery a {
	display: inline-block;
	margin-bottom: 9rem;
	margin-left: 2rem;
}

/* Estilos para las galerías de la página del menú */

.titulo-carta {
  text-align: center;
}

/* Agregar espacio entre las imágenes de las galerías */
div.galería.japones a img,
div.galería.california a img,
div.galería.palta a img,
div.galería.salmon a img,
div.galería.nikkei a img,
div.galería.peruana a img,
div.galería.platospe a img {
  max-width: 190px;
  height: auto;
  margin-right: 5px; /* Ajusta el valor según el espacio deseado */
}

/* Añadir espacio en la parte inferior de los enlaces de las galerías */
div.galería.japones a,
div.galería.california a,
div.galería.palta a,
div.galería.salmon a,
div.galería.nikkei a,
div.galería.peruana a,
div.galería.platospe a {
  display: inline-block;
  margin-bottom: 20px;
}


/* Estilos para el formulario */
form {
	margin-top: 20px;
	color: white;
}

/* Estilos para los campos de entrada y áreas de texto */
.campo {
	display: flex;
	flex-direction: column;
	/* Apilar verticalmente los elementos */
	margin-bottom: 15px;
	/* Agregar un margen inferior entre cada campo */
}

input[type="text"],
input[type="email"],
input[type="password"],
/* Agregamos el selector para los campos de tipo contraseña */
textarea {
	color: black;
	width: 100%;
}

/* Estilos para los mensajes de validación */
.validation-message {
	color: red;
	display: none;
	margin-top: 5px;
	transition: margin-top 0.2s ease-in-out;
}

/* Estilos específicos para el campo de usuario */
#usuarioValidationMessage {
	margin-top: -5px;
	/* Ajustamos el margen para que el mensaje aparezca encima del campo */
}

/* Estilos específicos para el campo de contraseña */
#passwordValidationMessage {
	margin-top: -5px;
	/* Ajustamos el margen para que el mensaje aparezca encima del campo */
}

/* Estilo para el contenedor principal */
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin-bottom: 1rem;
	/* Ajusta el margen inferior según tus preferencias */
}

/* Estilos para centrar los contenidos de la página de error */
.error-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 20px;
	text-align: center;
}

.error-container h1 {
	font-size: 36px;
	margin-bottom: 10px;
	text-align: center;
}

.error-container p {
	font-size: 18px;
	margin-bottom: 20px;
	text-align: center;
}

.error-container img {
	max-width: 50%;
	margin-bottom: 20px;
	text-align: center;
}

.error-container a {
	font-size: 16px;
	text-align: center;
}

/* Estilos para centrar los contenidos de la página de exito */
.exito-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 20px;
	text-align: center;
}

.exito-container h1 {
	font-size: 36px;
	margin-bottom: 10px;
	text-align: center;
}

.exito-container p {
	font-size: 18px;
	margin-bottom: 20px;
	text-align: center;
}

.exito-container img {
	max-width: 30%;
	margin-bottom: 20px;
	text-align: center;
}

.exito-container a {
	font-size: 16px;
	text-align: center;
}

.formulario-celda {
    vertical-align: middle;
}
.contador:before {
    content: "\a"; /* Agregar un salto de línea */
    white-space: pre;
}

/* Estilos para tablas */

/* Estilos para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

/* Estilos para los encabezados */
.table th {
  background-color: transparent;
  font-weight: bold;
}

/* Estilos para las celdas de estado */
.estado-checkbox {
  margin-right: 5px;
}

/* Estilos para la clase contador */
.contador {
  font-weight: bold;
  color: #007bff;
}

/* Estilos para la lista de productos */
ul {
  list-style-type: none;
  padding: 0;
}

/* Estilos para los elementos de la lista de productos */
ul li {
  margin-bottom: 5px;
}

/* Media query para pantallas xs (teléfonos móviles) */
@media (max-width: 575.98px) {
    .navbar-brand-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-toggler {
        order: 2;
    }

    .navbar-brand {
        max-width: 50%;
    }

    /* Estilos para el contenido del navbar cuando se despliega el menú */
    .navbar-collapse {
        position: absolute;
        top: 100%; /* Posición debajo del botón */
        left: 0;
        right: 0;
        background-color: transparent; /* Fondo negro */
        padding: 10px;
        text-align: right; /* Alineación centrada */
        display: none; /* Oculto por defecto */
    }

    .navbar-toggler[aria-expanded="true"] + .navbar-collapse {
        display: block; /* Mostrar cuando el menú está abierto */
    }
}







